.collection-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  overflow: hidden;
}

.collection-footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.name {
  width: 90%;
  margin-bottom: 0.9em;
}

.price {
  width: 10%;
}
