.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 65vh;
  width: 22%;
}

.image {
  height: 100%;
  width: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  overflow: hidden;
}

.collection-footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.name {
  width: 90%;
  margin-bottom: 0.9em;
}

.price {
  width: 10%;
}
.image:hover {
  opacity: 0.8;
}
.button-container {
  display: flex;
  width: 100%;
}
.quantity {
  width: 20%;
}
.custom-button {
  width: 80%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.custom-button:hover {
  cursor: pointer;
}

@media only screen and (max-device-width: 540px) {
  .collection-item {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media only screen and (max-device-width: 800px) and (min-device-width: 541px) {
  .collection-item {
    width: 40%;
    margin-bottom: 25px;
  }
}
